.homeFooter {
  position: fixed;
  bottom: 0px;
  background: rgba( 0, 0, 0, 1);
}
.expandFooter {
  background-image: url('../../images/brightStars.jpg');
  background-size: 100% 140%;
  background-position-y: 237%;
}