
.slideCon {
  width: 80%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 30px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007FFF;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #6BA1FF;
  cursor: pointer;
  border-radius: 50%;
}
.joyInput::-webkit-slider-thumb {
  background: yellow;
}
.joyInput::-moz-range-thumb {
  background: yellow;
}
.disgustInput::-webkit-slider-thumb {
  background: #6ad3c2;
}
.disgustInput::-moz-range-thumb {
  background: #6ad3c2;
}
.sadnessInput::-webkit-slider-thumb {
  background: lightskyblue;
}
.sadnessInput::-moz-range-thumb {
  background: lightskyblue;
}
.angerInput::-webkit-slider-thumb {
  background: red;
}
.angerInput::-moz-range-thumb {
  background: red;
}
.fearInput::-webkit-slider-thumb {
  background: #8510d8;
}
.fearInput::-moz-range-thumb {
  background: #8510d8;
}
.sliderValues {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.sliderValues p {
  color:#5effb2;
  font-weight: bold;
  font-family: 'Buda', cursive;
}


